---
---

@import "jekyll-theme-modernist";

header {
 border-radius:8px 8px 0 0;
 background:#fac6ea !important;
 background:linear_gradient(#fcddfb, #fac6ea) !important;
 position:relative;
 padding:15px 20px;
 border-bottom:1px solid #E1B2D2 !important
}

footer > p {
display: none;
}
div.wrapper > header {
//display: none;
}

html{
  //height: 100% !important;
}

body {
 padding:50px 0;
 margin:0;
 font:14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
 color:#555;
 font-weight:300;
 background:inline-image("checker.png") fixed;
 height:100% !important;
 background: #6e6c89 !important;
 background: 	#6e6c89 linear_gradient(#6e6c89, #444355)  url('checker.png') fixed !important;
 background-image:url('checker.png') !important;
}

header ul li {
 width:79px !important;
 float:left;
 border-right:0px solid #3a3abe !important;
 height:38px
}

header ul {
 margin:0;
 padding:0;
 list-style:none;
 position:absolute;
 z-index:1;
 right:20px;
 top:20px;
 height:38px;
 padding:1px 0;
 background:#5151df !important;
 background:linear_gradient(#7777fb, #3737cd) !important;
 border-radius:5px;
 box-shadow:inset rgba(255,255,255,0.45) 0 1px 0,inset rgba(0,0,0,0.2) 0 -1px 0;
 width:auto
}

header h1 {
 margin:0;
 padding:0;
 font-size:24px;
 line-height:1.2;
 color:#990066 !important;
 text-shadow:rgba(255,255,255,0.9) 0 1px 0
}

header p {
 margin:0;
 color:#8b6177 !important;
 width:300px;
 font-size:13px
}

@font-face {
    font-family: 'pixel_hearts_lcregular';
    src: url('pixel-hearts-lc-webfont.eot');
    src: url('pixel-hearts-lc-webfont.eot?#iefix') format('embedded-opentype'),
         url('pixel-hearts-lc-webfont.woff2') format('woff2'),
         url('pixel-hearts-lc-webfont.woff') format('woff'),
         url('pixel-hearts-lc-webfont.ttf') format('truetype'),
         url('pixel-hearts-lc-webfont.svg#pixel_hearts_lcregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
  font-family: 'PixelHearts-Regular';
  src: url('PixelHearts-Regular.woff') format('woff'),
       url('PixelHearts-Regular.ttf') format('truetype'),
       url('PixelHearts-Regular.svg#PixelHearts-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}


section h1 {
  font-family: 'PixelHearts-Regular' !important;
  src: url('PixelHearts-Regular.woff') format('woff'),
       url('PixelHearts-Regular.ttf') format('truetype'),
       url('PixelHearts-Regular.svg#PixelHearts-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.ss-wrapper {
  overflow: hidden;
//  width: 100%;
//  height: 100%;
  position: relative;
  z-index: 1;
  float: left;
}

.ss-content {
  height: 100%;
  width: calc(100% + 18px);
  padding: 0 0 0 0;
  position: relative;
  overflow: auto;
  box-sizing: border-box;
}

.ss-content.rtl {
  width: calc(100% + 18px);
  right: auto;
}

.ss-scroll {
  position: relative;
  background: rgba(0, 0, 0, 0.1);
  width: 9px;
  border-radius: 4px;
  top: 0;
  z-index: 2;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.25s linear;
}

.ss-hidden {
  display: none;
}

.ss-container:hover .ss-scroll,
.ss-container:active .ss-scroll {
  opacity: 1;
}

.ss-grabbed {
  -o-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
