<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

{% seo %}

    <link rel="stylesheet" href="/assets/css/style.css">
    <script src="/assets/js/scale.fix.js"></script>
	<script src="/assets/js/simple-scrollbar.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
	
    <!--[if IE 9]><script src="https://cdn.jsdelivr.net/classlist/2014.01.31/classList.min.js"></script><![endif]-->
<title>［ｅｍ］ｉｌ　［ｓａ］ｙａｈｉ</title>
<link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="192x192" href="/android-chrome-192x192.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/manifest.json">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#cca499">
<meta name="apple-mobile-web-app-title" content="［ｅｍ］ｉｌ　［ｓａ］ｙａｈｉ">
<meta name="application-name" content="［ｅｍ］ｉｌ　［ｓａ］ｙａｈｉ">
<meta name="msapplication-TileColor" content="#ffdcd2">
<meta name="msapplication-TileImage" content="/mstile-144x144.png">
<meta name="theme-color" content="#ffffff">
	
  </head>
  <body>
<div ss-container="" class="ss-container">
<div class="ss-wrapper"><div class="ss-content">
</div>
</div>
</div>
    <div class="wrapper">
<header>
        <h1>
		［ｅｍ］ 
		<code class="highlighter-rouge">
		<sub>ｉｌ</sub>　
		</code>
		［ｓａ］
		<code class="highlighter-rouge">
		<sub>ｙａｈｉ</sub>
		</code>
		</h1>
        
          <p>Hey, listen to ［ｅｍ］!</p>
        
        <p class="view"><a href="https://github.com/emil-sayahi/emil-sayahi.github.io">View this on GitHub<small></small></a></p>
        <ul>
        
          <li><a href="https://github.com/orgs/ByEmilSayahi/people/">View me on <strong>GitHub</strong></a></li>
          <li><a href="https://liech.ga/m/">View my <strong>blog</strong></a></li>
        </ul>
      </header>
      <section>

      {{ content }}

      </section>
    </div>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->

    {% if site.google_analytics %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </body>
</html>
